[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SeedMatchR"]
	path = SeedMatchR
	url = https://github.com/tacazares/seedmatchr
	shallow = true
	registered = true
